<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/16730420_10210840613666747_1154610774593353432_n.jpg?oh=bae6b4b7fa66fe27ea51877ff2d51401&oe=5AA346A9", width: 300, alt: "profile image" %>
  </div>

<div class="col-md-8">
<p>I'm a creative developer with a passion for all things visual and technical. I build interactive web experiences that bring brands to life and add depth to their stories. I use my design and development skills to create digital experiences.</p>

</div>