<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "mepic.jpg", width: 300, alt: "profile image" %>
  </div>

<div class="col-md-8">
<p>I'm a creative developer with a passion for all things visual and technical. I build interactive web experiences that bring brands to life and add depth to their stories. I use my design and development skills to create digital experiences.</p>

</div>