<div class="app-card-container">
  <div class="about-card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "mepic.jpg", width: 300, alt: "profile image" %>

       <!--   <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div> -->
      </div>

      <div class="col-md-8">
        <p class="about-par">I'm a full stack developer with previous background in management. I have a great passion for all things visual and technical. I love creating interactive web experiences that bring brands to life.

        When I am not developing I enjoy spending my time snowboarding, hiking, binge watching TV series and spending time with my family.</p>


    <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#frontEnd"
            aria-expanded="false"
            aria-controler="frontEnd"
          >
            Front End
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#backEnd"
            aria-expanded="false"
            aria-controler="backEnd"
          >
            Back End
          </button>

        </p>

        <p>
          <div class="collapse" id="frontEnd">
            <div class="card card-block">
              HTML5
            </div>
            <div class="card card-block">
              SCSS
            </div>
            <div class="card card-block">
              Angular
            </div>
            <div class="card card-block">
              UX Designer
            </div>
            <div class="card card-block">
              UI Designer
            </div>
            <div class="card card-block">
              TypeScript
            </div>
            <div class="card card-block">
              JavaScript
            </div>
          </div>

          <div class="collapse" id="backEnd">
            <div class="card card-block">
              Ruby on Rails
            </div>
            <div class="card card-block">
              MySQL
            </div>
            <div class="card card-block">
              Postgres
            </div>
            <div class="card card-block">
              API Development
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>