<div class="app-card-container">
  <div class="card">
    <h1>Lets build something together</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h4>Address</h4>

        <p>Highland, Utah</p>

        <h4>Phone</h3>

        <p><%= number_to_phone "3852240315" %></p>

        <h4>Email</h4>
        <p>nicholasjwilliams1@gmail.com</p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48590.761692577726!2d-111.82266695330664!3d40.432712616846004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d80ebae8b17c9%3A0x5b6e512d66c69d44!2sHighland%2C+UT!5e0!3m2!1sen!2sus!4v1508975591072" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>







