<h1 class="page-title large-title">
  CONTACT
</h1>

  <div class="app-card-container">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
        <h1 class="city-title">SALT LAKE CITY <i class="fa fa-thumb-tack" aria-hidden="true"></i></h1>
          <p class="contact-info">
            <i class="fa fa-phone" aria-hidden="true"></i>  385-224-0315 <br>
            <i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:nicholasjwilliams1@gmail.com">nicholasjwilliams1@gmail.com</a><br>
            <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/nickjwill"> GITHUB</a>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>







