<div class="inner cover">
  <h1 class="cover-heading">Full Stack Developer</h1>
  <p class="lead">Get ready to turn your ideas into reality</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


