<div class="inner-cover">
  <div id=cover-container>
    <h1 class="page-title large-title">
      NICK WILLIAMS PROGRAMMER DEVELOPER DESIGNER 
  </div>
  <br>
   <div>
  <%= link_to "About Me", about_me_path, class: "btn btn-lg" %>
  </div>
