<div class="inner-cover">
  <div id=cover-container>
    Nick
  <div id=flip>
    <div><div>Developer</div></div>
    <div><div>Designer</div></div>
    <div><div>Programmer</div></div>
  </div>
  Williams
  <div>
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-danger" %>
  </div>
  </div>
</div>


