<div class="inner cover">
  <h1 class="cover-heading">Web Developer</h1>
  <p class="lead">Turning your ideas into reality</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


