<div class="inner cover">
  <div class="name-cover">
  <h1 class="cover-heading-bounce">Nick Williams</h1>
  </div>
  <p class="lead">Full Stack Web Developer</p>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


