<div class="inner-cover">
  <div id=cover-container>
  Nick
  <div id=flip>
    <div><div>Developer</div></div>
    <div><div>Designer</div></div>
    <div><div>Programmer</div></div>
  </div>
  Williams
  <div>
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-danger" %>
  </div>
</div>
</div>




<!-- <div class="inner cover">
  <div class="name-cover">
  <h1 class="cover-heading-bounce">Nick Williams</h1>
  </div>
  <p class="lead">Full Stack Web Developer</p>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
 -->

