@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family:'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family:'Roboto';
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
  
}
.site-wrapper-inner {
  vertical-align: center;
}
.cover-container {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  float: center;
  
}

/*
 * Header
 */
/*Nav Bar*/
.globalnav {
  overflow: hidden;
  background-color: #4F4F54;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
}

.globalnav a {
  color: white;
  display: inline-block;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  
}
.globalnav a:hover {
  color: rgb(206,93,93);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}

.globalnav .active {
  color: rgb(206,93,93);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}

/*
 * Cover
 */



.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
  background-color: #4F4F54;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/*
 * Custom Styles
 */

 #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('orange-red.jpg') no-repeat;
  background-size: cover;
}

.card-block {
  color: black;
  text-align: left;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 1rem;
}

.auth-links a {
  color: black;
  margin-bottom: 2rem;
}

.register-text {
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.login > .card {
  width: 23rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 10px;
  margin-right: 10px;
}

.app-footer {
  color: white;
}


.lead {
  font-size: 40px
}

.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  background: rgba(20, 20, 20, .6);
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.app-card-container a {
  color: blue;
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-card {
  background: rgba(20, 20, 20, .6);
  color: #fdf7efr;
  margin-top: 95px;
  margin-bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-img {
  border: 3px solid grey;
}

/* HOME PAGE */
.page-title {
  padding-top: 9rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 125px;
  text-shadow: 5px 6px #4F4F54;
  line-height: 78%;
}

.figure {
  margin-left: 1em;
}

/*=======Animated Title-------*/
/*#cover-container {
  color:black;
  text-transform: uppercase;
  font-size:60px;
  font-weight:bold;
  padding-top:153px;  
  width:105%;
  height:28%;
  bottom:60%;
  display:block;
}

#flip {
  height:85px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:-38px 110px;
  height:64px;
  margin-bottom:20px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 7s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-250px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}*/
/*}
*//*-----End of Title--------*/


/*----About ME -----------*/
.about-par {
  font-size: 22px;
}

.main-img {
  padding-left: 10px;
}

