@import "bootstrap";
@import "jquery-ui";
@import "gritter";



body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Open Sans', sans-serif;
}

/*Start of Nav Bar*/
.globalnav {
  overflow: hidden;
  background-color: #4F4F54;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
}

.globalnav a {
  color: white;
  display: inline-block;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  
}
.globalnav a:hover {
  color: rgb(206,93,93);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}

.globalnav .active {
  color: rgb(206,93,93);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}
/*End Of Nav*/

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
.card {
  color: black;
  float: left;
  width: 100%;
  padding: 3.5%;
  margin-bottom: 9%;
  border: 0;
  background-color: white;
  border-radius: 5px;
  border-color: black;
  font-size: 1.3em;
}

.card a {
  color: black;
  font-size: 1.1em;
}
.card a:hover {
  color: #CE5D5D;
}

.card > img {
  margin-bottom: 3%;
}

.card-text {
  font-size: 85%;
  font-weight: bold;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */
 #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('orange-red.jpg') no-repeat;
  background-size: cover;
}

.portfolio-container {
  padding-top: 30px;
}

.portfolio-box{
  border : 2px solid #BDBDBD;    
  -webkit-transition : border 500ms ease-out; 
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

.portfolio-box:hover{
  border : 2px solid #d3d3d3;
}

.page-title {
  padding-top: 5rem;
  font-family: 'Raleway', sans-serif;
  color: BLACK;
  font-size: 110px;
  text-shadow: 3px 2px rgb(206,93,93);
  line-height: 78%;
}
